<div style='border: dashed red;'>
  <img src='https://bit.ly/3pyLUpj'>
</div>

<% if @pet_name %>
    <h1> Our names are now <%= "#{@pet_name} & #{@pet_name}!" %></h1>
<% elsif @pet_names %>
    <h1> Our names are <%= "#{@pet_names}!" %></h1>
<% else %>
    <h1> We don't have names yet :( </h1>
<% end %>
