<form action="/named-pets" method="post">
    <label for="name">New names:</label>
    <input type="text" name="name">

    <button type="button">Submit</button>
    <button type="submit">Submit</button>
</form>
